@media (min-width: 320px) { 
    body {
        background-image: url("../img/white-waves.png");
        background-color: rgb(245, 245, 254);
    }
    #title {
        margin: 10% auto;
        text-align: center;
        border-bottom: 5px inset #000;
    }
    
    #quote-box {
        font-size: 1.2em;
        
    }
    #text{
        margin: 0 auto;
        position: initial;
        font-size: 1.4em;
        text-align: justify;
        font-family: 'Tangerine', cursive;
    }
    #author{ 
        font-family: 'Charm', cursive;
        float: right;
        position: relative;
        font-size: 0.8em;
        padding: 0 5% 7%;
    }
    .btn{
        border-radius: 10%;
        border: 2px solid grey;
        background-color: #ece6e6;
        font-size: 0.8rem;
    }
    #tweet-quote {
        color: #1da1f2;
        font-size: 1.6rem;
    }
    #new-quote{
        padding: 5px;
        float: right; 
        position: relative;
    }
}

@media (min-width: 576px) { 
    #quote-box {
        font-size: 1.2em;
    }
    #author{ 
        float: right;
        position: relative;
        font-size: 1.2em;
        padding: 0 2%;
    }
 }

@media (min-width: 768px) { 
    #author{ 
        float: right;
        position: relative;
        padding: 2% 5% 5%;
    }
}
@media (min-width: 992px) {
    #title {
        margin: 30px auto;
        position: initial;
        text-align: center;
        padding: 5px;
    }

    #quote-box {
        height: auto;
        width: auto;
        margin: 0 auto;
        position: relative;
        padding: 3px;
    }

    #text{
        font-family: 'Charm', cursive;
        margin: 0 auto;
        position: initial;
        font-size: 2.4em;
        text-align: justify;
    }

    #author{
        float: right;
        position: relative;
        font-size: 1.5em;
        padding: 0 2% 5%;
    }

    #tweet-quote{
        float: left;
        
        position: absolute;
    }

    .fab fa-twitter{
        border: 1px solid #fff;
        font-size: 1.8em;
    }
}

/*
@media (min-width: 1200px) { 

}
*/